USE [dtbElFenix]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 15/05/2021 5:22:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[cedula] [int] NOT NULL,
	[Nombre] [nchar](10) NULL,
	[Apellido] [nchar](10) NULL,
	[Edad] [int] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaquetesCliente]    Script Date: 15/05/2021 5:22:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaquetesCliente](
	[idPaquete] [int] IDENTITY(1,1) NOT NULL,
	[cedulaCliente] [int] NULL,
	[Descripcion] [nchar](200) NULL,
	[peso] [int] NULL,
	[Rut] [nchar](150) NULL,
	[tamanio] [int] NULL,
	[Direccion_inicial] [nchar](1000) NULL,
	[Direccion_destino] [nchar](1000) NULL,
 CONSTRAINT [PK_PaquetesCliente] PRIMARY KEY CLUSTERED 
(
	[idPaquete] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Repartidor]    Script Date: 15/05/2021 5:22:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repartidor](
	[idRepartidor] [int] IDENTITY(1,1) NOT NULL,
	[idPaquete] [int] NULL,
	[Nombre] [nchar](250) NULL,
	[Apellido] [nchar](250) NULL,
	[Vehiculo] [nchar](250) NULL,
	[Usuario] [nchar](250) NULL,
	[Contraseña] [nchar](100) NULL,
	[Peso] [int] NULL,
	[tamanioPaquete] [int] NULL,
 CONSTRAINT [PK_Repartidor] PRIMARY KEY CLUSTERED 
(
	[idRepartidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cliente] ([cedula], [Nombre], [Apellido], [Edad]) VALUES (226, N'Prueba    ', N'Final     ', 20)
INSERT [dbo].[Cliente] ([cedula], [Nombre], [Apellido], [Edad]) VALUES (2004, N'Juanita   ', N'MIamor    ', 17)
INSERT [dbo].[Cliente] ([cedula], [Nombre], [Apellido], [Edad]) VALUES (2009, N'Billie    ', N'Jean      ', 9)
GO
SET IDENTITY_INSERT [dbo].[PaquetesCliente] ON 

SET IDENTITY_INSERT [dbo].[PaquetesCliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Repartidor] ON 

SET IDENTITY_INSERT [dbo].[Repartidor] OFF
GO
ALTER TABLE [dbo].[PaquetesCliente]  WITH CHECK ADD  CONSTRAINT [FK_PaquetesCliente_Cliente] FOREIGN KEY([cedulaCliente])
REFERENCES [dbo].[Cliente] ([cedula])
GO
ALTER TABLE [dbo].[PaquetesCliente] CHECK CONSTRAINT [FK_PaquetesCliente_Cliente]
GO
ALTER TABLE [dbo].[Repartidor]  WITH CHECK ADD  CONSTRAINT [FK_Repartidor_PaquetesCliente] FOREIGN KEY([idPaquete])
REFERENCES [dbo].[PaquetesCliente] ([idPaquete])
GO
ALTER TABLE [dbo].[Repartidor] CHECK CONSTRAINT [FK_Repartidor_PaquetesCliente]
GO
